/* *** commons *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* *** header *** */
.page-header {
    width: 100%;
    height: 100px;
    background-color: #e579e6;
}

.jumbotron {
    width: 100%;
}

/* *** main *** */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-heading {
    width: 100%;
}

.sidebar, .widget {
    width: 20%;
}

.left {
    float: left;
}

.main-content {
    width: 60%;
}


/* *** debug *** */
.jumbotron.debug {
    height: 400px;
    background-color: #e1d67a;
}

.debug .main-heading {
    background-color: #abcfe7;
    height: 100px;
}

.debug .left, 
.debug .main-content, 
.debug .widget {
    background-color: #abcfe7;
    height: 300px;
    border: 2px solid blue;
}